@media screen and (min-width:992px) {
    .eventos__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        overflow: hidden;
        overflow-x: scroll;
        align-items: center;
    }

    .eventos__item:nth-child(5),
    .eventos__item:nth-child(6),
    .eventos__item:nth-child(7),
    .eventos__item:nth-child(8) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 4;

    }

    .eventos__botao {
        align-self: flex-end;
    }

    .agenda__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
        overflow: hidden;
        overflow-x: scroll;
        
    }

    /* CONFIGURAÇÃO DO SCROLL */

    /* width */
    .agenda__lista::-webkit-scrollbar,
    .eventos__lista::-webkit-scrollbar {
        width: 10px;

    }

    /* Track */
    .agenda__lista::-webkit-scrollbar-track,
    .eventos__lista::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;

    }

    /* Handle */
    .agenda__lista::-webkit-scrollbar-thumb,
    .eventos__lista::-webkit-scrollbar-thumb {
        background: #ddd1e08f;
        border-radius: 10px;

    }

    .eventos__item,
    .eventos__botao,
    .agenda__item,
    .agenda__botao{
        margin-bottom: 10px;

    }

    .agenda__item:nth-child(5),
    .agenda__item:nth-child(6) {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;

    }

    .agenda__item>img {
        grid-column: 1 / 3;


    }

    .agenda__informacoes {
        grid-column-start: 1;
        grid-row: 2;
        padding-top: 5px;
    }

    .agenda__atracao {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .agenda__botao {
        align-self: flex-end;

    }
}